body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:615px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u4955 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
}
#u4955_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4957 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
}
#u4957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:22px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u4959 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4959_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:95px;
  width:84px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4962 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4962_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:95px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4963 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:144px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4966 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:147px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4967 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:248px;
  width:84px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4970 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:248px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4971 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:506px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4974 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:506px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4975 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:457px;
  width:98px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4978 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:457px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4979 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:297px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4982 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:297px;
  width:195px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4983 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:401px;
  width:70px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4986 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4986_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:401px;
  width:195px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4987 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:349px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4990 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4990_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:349px;
  width:195px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4991 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:196px;
  width:84px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4994 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:199px;
  width:194px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u4995 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
