body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:700px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4582 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
}
#u4582_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:32px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u4584 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4584_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:105px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4587 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4587_text {
  border-width:0px;
  white-space:nowrap;
}
#u4588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:105px;
  width:215px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4588 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4588_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:153px;
  width:56px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4591 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4591_text {
  border-width:0px;
  white-space:nowrap;
}
#u4592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:153px;
  width:215px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4592 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4592_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:551px;
  width:137px;
  height:40px;
  display:flex;
}
#u4593 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4593_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:551px;
  width:140px;
  height:40px;
  display:flex;
}
#u4594 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4594_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:202px;
  width:42px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4597 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4597_text {
  border-width:0px;
  white-space:nowrap;
}
#u4598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:202px;
  width:215px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4598 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4598_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:250px;
  width:28px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4601 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4601_text {
  border-width:0px;
  white-space:nowrap;
}
#u4602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:250px;
  width:215px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4602 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4602_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:361px;
  width:12px;
  height:12px;
  display:flex;
}
#u4603 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4603_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:119px;
  width:12px;
  height:12px;
  display:flex;
}
#u4604 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4604_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:216px;
  width:12px;
  height:12px;
  display:flex;
}
#u4605 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4605_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:264px;
  width:12px;
  height:12px;
  display:flex;
}
#u4606 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4606_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:298px;
  width:56px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4609 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4609_text {
  border-width:0px;
  white-space:nowrap;
}
#u4610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:298px;
  width:215px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u4610 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
}
#u4610_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:305px;
  width:12px;
  height:12px;
  display:flex;
}
#u4611 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4611_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:347px;
  width:70px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4614 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4614_text {
  border-width:0px;
  white-space:nowrap;
}
#u4615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4615_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:347px;
  width:215px;
  height:39px;
  display:flex;
}
#u4615 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4615_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4615.disabled {
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:406px;
  width:70px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:22px;
}
#u4618 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 21px 0px;
  box-sizing:border-box;
}
#u4618_text {
  border-width:0px;
  white-space:nowrap;
}
#u4619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4619_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:406px;
  width:215px;
  height:39px;
  display:flex;
}
#u4619 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4619_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4619.disabled {
}
